*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}
.main{
    text-align: center;
    color: red;
    font-weight: bold;
    font-size: 5em;
}
.why{
    text-align: center;
    font-weight: bold;
}
.btn{
    margin: 10px 0;
}
.btn a button, .logout{
    border: none;
    color: rgb(220, 244, 255);
    padding: 5px;
}
.reg button{
    background: yellow;
}
.login button{
    background: green;
}
.logout{
    background: red;
}
.fn{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    background: gray;
    padding: 20px 0;
}
.fn button{
    color: white;
    border: none;
    padding: 5px;
    border-radius: 5px;
}
.btn-red{
    background: red;
}
.btn-green{
    background: green;
}